#tabs ul {
padding: 0px;
margin: 0px;
margin-left: 5px;
list-style-type: none;
}

#tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 15px;
}

#tabs ul li a {
position: relative;
margin-top: 5px;
display: block;
margin-left: 5px;
line-height: 24px;
padding-left: 10px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
width: 90px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

#tabs ul li a:hover {
text-decoration: underline;
}

#tabs #Content_Area {
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:10px;
position: relative;
top: 20px;
height: 300px;
}

p { 
padding-left: 5px; 
}

input[type=range].horizontal {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-horizontal; /* WebKit */
   width: 40px;
   height: 8px;
   padding: 0 5px;
}

input[type=range].vertical {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 40px;
    padding: 0 5px;
}
