.spot-container {
  width: 33.3333%;
  float:left;
  height: 50%;
}

#spot-links {
  z-index: 11;
  font-size: 15px;
  position:absolute;
  top: 51%;
  right: 10px;
  color: #666;
  
  a {
    margin: 0 5px;
  }

  .active {
    font-weight: bold;
    color: #77ff77;     
  }
}

#spot-panel-setpoints {
  padding: 0 20px;
  th {
    padding-left: 5px;
    text-align: left;
  }
  td {
    padding: 0 0px;
  }
  input {
    width: 50px;
  } 
  .header {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #444; 
  }
  .label {
    min-width:90px;
    font-size: 15px;
    color: #aaaadd; 
  } 
  table {
    font-size:15px;
  } 
  table.spot-info-table input {
    width: 150px;
  }
  input[type=submit] {
    width: 60px;
  } 
}

.spot-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000 url('/spot-bg.png') 260px 20px no-repeat;
  background-size: 220px;

  .header {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #444; 
  }

  table {
    width: 100%;

    button {
      width: 50px;
      &.rotate {
        width: 30px;
      }
    }
  }
  #tomato {
    z-index:11;
    position:absolute;
    top: 160px;
    left: 297px;
  }
  .fan-icon {
    width:20px;
    height:20px;
    background:url('/fan-off.png');
  }
  .fan-icon.on {
    width:20px;
    height:20px;
    background:url('/fan-on.png');
  }
  #fan1 {
    z-index: 11;
    position: absolute;
    top: 100px;
    left: 385px;
  }

  #fan2 {
    z-index: 11;
    position: absolute;
    top: 230px;
    left: 384px;
  }

  #white-light {
    z-index:10;
    position:absolute;
    top:57px;
    left:296px;
    width: 133px;
    height:200px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

  #red-light {
    z-index:10;
    position:absolute;
    top:57px;
    left:305px;
    width: 115px;
    height:200px;
    background: -webkit-linear-gradient(top, rgba(255,0,0,.8) 0%,rgba(255,0,0,0) 100%);
  }
}

.spot-title {
  position: absolute;
  top: 8px;
  left: 20px;
 
  h2 {
    padding: 0;
    margin: 0;
  }  
}

.spot-controls {
  position: absolute;
  top:50px;
  left: 20px;

  div {
    margin-bottom: 10px;
    width: 230px;
  }
}

.spot-control-lights {
  font-size: 15px;
  font-weight: 300;
  top: 50px;
  left: 10px;
 
  .label {
    width: 50%;
    color: #aaaadd; 
  }  
}

.spot-control-camera {
  font-size: 15px;
  font-weight: 300;
  top: 120px;
  left: 10px;
 
  .label {
    width: 50%;
    color: #aaaadd; 
  } 
}

.spot-control-enclosure {
  font-size: 15px;
  font-weight: 300;
  top: 196px;
  left: 10px;
 
  .label {
    width: 50%;
    color: #aaaadd; 
  } 
}

.spot-control-fans {
  font-size: 15px;
  font-weight: 300;
  top: 250px;
  left: 10px;
 
  .label {
    width: 50%;
    color: #aaaadd; 
  } 
}

.spot-control-pot {
  font-size: 15px;
  font-weight: 300;
  top: 305px;
  left: 10px;
 
  .label {
    width: 50%;
    color: #aaaadd; 
  } 
}

.spot-data-status {
  z-index:11;
  font-size: 15px;
  font-weight: light;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 150px;
  background: #111144;
 
  .label {
    width: 60%;
    color: #aaaadd; 
  } 
}

.spot-data-air {
  z-index:11;
  font-size: 15px;
  font-weight: light;
  position: absolute;
  top: 191px;
  right: 20px;
  width: 150px;
  background: #111144;
 
  .label {
    width: 55%;
    color: #aaaadd; 
  } 
}

.spot-data-res {
  z-index:11;
  font-size: 15px;
  font-weight: light;
  position: absolute;
  top: 280px;
  right: 20px;
  width: 150px;
  background: #111144;
 
  .label {
    width: 40%;
    color: #aaaadd; 
  }
}

.spot-data-pwr-h2o {
  z-index:11;
  font-size: 15px;
  font-weight: light;
  position: absolute;
  top: 380px;
  right: 20px;
  width: 150px;
  background: #111144;
 
  .label {
    width: 77%;
    color: #aaaadd; 
  }
}

.spot-data-notes {
  font-size: 15px;
  font-weight: light;
  position: absolute;
  top: 385px;
  left: 20px;
  width: 240px;
 
  .label {
    width: 40%;
    color: #aaaadd; 
  }
 
  p {
    line-height: 20px;
  }
}

.spot-data-battery-level {
  font-size: 15px;
  font-weight: light;
  position: absolute;
  bottom: 30px;
  left: 140px;
  width: 150px;
  background: #111144;
 
  .label {
    width: 40%;
    color: #aaaadd; 
  }
 
}

.arrow-left-status {
  z-index:11;
  position: absolute;
  top: 50px;
  right: 170px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:45px solid #111144; 
}

.arrow-left-air {
  z-index:11;
  position: absolute;
  top: 190px;
  right: 170px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:45px solid #111144; 
}

.arrow-left-res {
  z-index:11;
  position: absolute;
  top: 330px;
  right: 170px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:70px solid #111144; 
}

.arrow-left-pwr {
  z-index:11;
  position: absolute;
  top: 380px;
  right: 170px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:90px solid #111144; 
}
