.spot-container {
  background: #333339;
  padding: 20px;
}

div.spot-data {
  width: 810px;
  margin-top: 20px;
  position:relative;
}

.spot-title {
  font-weight: bold;
}

.group {
  margin-bottom: 1em;
}

.axis {
  color: #eee;
  font: 10px sans-serif;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  fill: #ccc;
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis.top {
  top: -20px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  bottom: -20px;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #eee;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value,
.horizon .unit {
  color: #222;
  font-size: 12px;
  font-weight: bold;
  width: 46px;
  bottom: 0;
  line-height: 30px;
  margin: 0;
  padding-left: 8px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
  background-image: linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 53px;
  width: 30px;
  text-align: right;
}

.horizon .unit {
  position: absolute;
  width: 45px;
  right: 0px;
}

.line {
  background: #000;
  z-index: 2;
}
