.spot-container {
  background: #333339;
  border-bottom: 1px solid #666669;
  height: 240px;
  padding: 6px 10px 15px 10px;
  position: relative;
  width: 1252px;
  
  a {
    color: #99aaff;
    font-size: 12px;
     font-weight: normal;
  }
}

.spot-states {
  height: 160px;
  left: 10px;
  position: absolute;
  width: 90px;
 
   
  .spot-battery-level-container {
    background: #660000;
    border: 1px solid #9999bb;
    height: 154px;
    position: relative;
    top: 2px;
    width: 20px;

    .icon-power {
      bottom: 2px;
      color: #fff;
      position: absolute;
      text-align: center;
      width: 20px;
    }

    .spot-battery-level-pct {
      color: #ddd;
      font-size: 9px;
      position: absolute;
      text-align: center;
      top: 44px;
      width: 20px;
    }

    .spot-battery-level {
      background: #00dd00;
      bottom: 0px;
      height: 100px;
      margin: 0px;
      position: absolute;
      width: 20px;
    }

    .spot-battery-level-label {
      bottom: -14px;
      font-size: 9px;
      font-weight: bold;
      left: -1px;
      position: absolute;
      text-align: center;
      width: 20px; 
    }
  }

  .spot-water-level-container {
    background: #222244;
    border: 1px solid #9999bb;
    height: 154px;
    left: 30px;
    position: relative;
    top: -154px;
    width: 40px;

    .icon-tint {
      bottom: 0px;
      color: #fff;
      position: absolute;
      text-align: center;
      width: 39px;
    }
 
    .spot-water-level-pct {
      color: #ddd;
      font-size: 9px;
      position: absolute;
      text-align: center;
      top: 34px;
      width: 40px;
    }

    .spot-water-level {
      background: #9999ff;
      bottom: 0px;
      height: 110px;
      margin: 0px;
      position: absolute;
      width: 40px;
    }
 
    .spot-water-level-label {
      bottom: -14px;
      font-size: 9px;
      font-weight: bold;
      left: -1px;
      position: absolute;
      text-align: center;
      width: 42px; 
    }
  }
}

.spot-controls {
  height: 160px;
  left: 92px;
  position: absolute;
  top: 10px;
  width: 120px;

  .spot-control {
    height: 20px;
    margin-bottom: 6px;

    
    .control-label {
      clear: both;
      display: block;
      float: left;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      width: 60px;
    
      &.color-red {
        color: #ff2a2a;
      }

      &.color-far-red {
        color: #cc2a2a;
      }
    }

    .control {
      display: block;
      float: left;
      width: 100px;
    }
  }
}

.spot-camera {
  background: #505062;
  color: #707085;
  height: 155px;
  left: 210px;
  line-height: 156px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 234px;
} 

.spot-data-container {
  position: absolute;
  left: 452px;
}

div.spot-data {
  margin-top: 14px;
  position:relative;
  width: 810px;
}

.spot-title {
  font-weight: bold;
}

.group {
  margin-bottom: 1em;
}

.axis {
  color: #eee;
  font: 10px sans-serif;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  fill: #ccc;
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis.top {
  top: -20px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  bottom: -20px;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #eee;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value,
.horizon .unit {
  color: #222;
  font-size: 12px;
  font-weight: bold;
  width: 46px;
  bottom: 0;
  line-height: 30px;
  margin: 0;
  padding-left: 8px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
  background-image: linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
  background-image: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 100%);
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 53px;
  width: 30px;
  text-align: right;
}

.horizon .unit {
  position: absolute;
  width: 45px;
  right: 0px;
}

.line {
  background: #000;
  z-index: 2;
}
