<% @spots.each_with_index do |spot, i| %>
<div class="spot-container">
<div><%= spot.name %> <%= link_to "Detail View", spot_path(spot) %></div>
<div class="spot-data" id="spot<%= i+1 %>"></div>
</div>
<% end %>
