<div id="container">
  <div class="spot-container">
   
  </div>
  
  <div class="spot-container">
  
  </div>
    
  <div class="spot-container">
  
  </div>
    
  <div class="spot-container">
  
  </div>
  
  <div class="spot-container">
  
  </div>
    
  <div class="spot-container">
  
  </div>
</div>
